<template id="account"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-account"
		  spa-layout="ninja-poker-layout"
		  spa-route="account">

	<section class="spa-view-account"></section>
</template>