<template id="feedback"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-feedback"
		  spa-layout="ninja-poker-layout"
		  spa-route="feedback">

	<section class="spa-view-feedback"></section>
</template>