<template id="forgotpassword"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-forgot-password"
		  spa-layout="ninja-poker-layout"
		  spa-route="forgot&#x2F;password">

	<section class="spa-view-forgot-password"></section>
</template>