<template id="login"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-login"
		  spa-layout="ninja-poker-layout"
		  spa-route="login">

	<section class="spa-view-login"></section>
</template>