<template id="workout-list"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-workout-list"
		  spa-layout="ninja-poker-layout"
		  spa-route="workout&#x2F;list">

	<section class="spa-view-workout-list"></section>
</template>