<template id="exercises"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-exercises"
		  spa-layout="ninja-poker-layout"
		  spa-route="exercises">

	<section class="spa-view-exercises"></section>
</template>