<template id="forgotemail"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-forgot-email"
		  spa-layout="ninja-poker-layout"
		  spa-route="forgot&#x2F;email">

	<section class="spa-view-forgot-email"></section>
</template>