<template id="history"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-workout"
		  spa-layout="ninja-poker-layout"
		  spa-route="workout&#x2F;history">

	<section class="spa-view-workout"></section>
</template>