<template id="home"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-home"
		  spa-layout="ninja-poker-layout"
		  spa-route="">

	<section class="spa-view-home"></section>
</template>