<template id="NotFound"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-404"
		  spa-layout="ninja-poker-layout"
		  spa-route="404">

	<section class="spa-view-404"></section>
</template>