<script id="ninja-poker-layout"
        class="spa-layout"
        spa-title="Ninja Poker"
        spa-view-type="layout"
        spa-transition="slide"
        type="spa-layout">

    <section class="spa-layout" spa-layout="ninja-poker-layout">
        <header class="header "></header>
    </section>
</script>