<script id="ninja-poker-layout"
        class="spa-layout"
        spa-title="Ninja Poker"
        spa-view-type="layout"
        spa-transition="slide"
        type="spa-layout">

    <section class="spa-layout" spa-layout="ninja-poker-layout">
        <section class="spa-child-view home-child-view main"></section>
    </section>

</script>