.expanded-action-panel .action-panel {
	width: 220px; display: block;
}
.action-nav {
	padding: 0px 0px 0px 12px; width: 220px; color: rgb(255, 255, 255); font-size: 1.25em; font-weight: 300; text-decoration: none; border-bottom-color: rgb(119, 119, 119); border-bottom-width: 1px; border-bottom-style: solid; display: block; background-color: transparent;
}
.aniswath-nav {
	width: 190px; color: rgb(255, 255, 255); text-decoration: none; margin-left: 20px; display: block;
}
.sub-sub-nav {
	width: 220px; border-bottom-color: rgb(119, 119, 119); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.redraw-actions {
	display: none;
}
@media all and (min-width:600px)
{
.main-nav .sub-sub-nav .btn {
	width: 33%; height: 25px; font-size: 1em;
}
.main-nav .sub-sub-nav .fa {
	width: 20px; height: 20px; margin-top: -2em;
}
}
