       
.action-panel,
.left-panel {
    display: block;
    width: 0;
    background: #293846;
    position: absolute;
    left: 0px;
    top: 70px;
    bottom: 0px;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.action-panel {
    background: #395167;
    display: none;
    padding-top:20px;
}


.expand-menu .left-panel{
    width: 220px;
}


.nav-header {
    padding: 33px 25px;
    /*background: url("patterns/header-profile.png") no-repeat;*/
}

.img-circle {
    border-radius: 50%;
}

.nav-header .text-muted {
    color: #8095a8;
}



/* Start Hamburger */
.hamburger-nav {
    width: 120px;
    height: 40px;
    margin: 10px 5px;
    line-height: 26pt;
    margin-right: 2em;
    float: left;
    border: 1px solid #fff;
    display: inline-block;
}

.hamburger-bar-wrapper {
    float: left;
    height: 40px;
    padding-top: 8px;
    width: 40px;
    display: inline-block;
}

.hamburger-bar {
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    margin: 3px auto;
    width: 30px;
    display: block;
}

.hamburger-bar-text {
    line-height: 40px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}
/* End Hamburger */

.login-info {
    height: 30px;
    line-height: 30px;
    margin-bottom: .5em;
}

.main-nav > a, .main-nav > a:visited {
    background-color: transparent;
    font-weight: 300;
    color: #aaa;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
    width: 220px;
    height: 40px;
    border-bottom: 1px solid #777;
    padding: 0 0 0 12px;
}

    .main-nav > a:active {
        /*color: rgb(193,40,40);*/
        border-bottom: solid 2px #fff;
        background-color: #293846 !important;
    }

.main-nav .fa {
    font-size: 1.5em;
    width: 1.75em;
    text-align: center;
}


.nav-text {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.nav-icon {
    width: 32px;
    height: 32px;
    display: none;
    background-repeat: no-repeat;
}

.seleted-nav {
    background-color: #293846 !important;
}

.main-nav > a.sub-nav, .main-nav > a.sub-nav:visited {
    padding-left: 1em;
    width: 99%;
    font-size: 1em;
    display: none;
}

a.sub-nav {
    color: #fff;
}


.left-panel .y-scroller-wrapper {
    height: calc(100% - 75px);
}


.main-nav > a.active.sub-nav, 
.main-nav > a.active.sub-nav:visited {
    display: block;
}

.main-nav > a.active.sub-nav.selected, 
.main-nav > a.active.sub-nav.selected:visited
{
    color: #aaa;
    box-shadow: inset -2px -2px 2px 0px rgba(198,198,198,0.75);
    border: none;
}

.expand-menu .main-content,
.expanded-action-panel .main-content,
.expanded-menu.expanded-action-panel .main-content {
    left: 220px;
}



@media (min-width:600px) /*and (max-width:1024px)*/ {

    .hamburger-nav {
        margin-left: 2em;
    }

    .main-nav {
        /*z-index: 1000;
        position: absolute;
        right: 10px;
        top: 50px;*/
        width: 220px;
        background-color: transparent;
        height: auto;
        padding-bottom: 2%;
    }

        .login-info > a, .login-info > a:visited .main-nav > a, .main-nav > a:visited {
            /*margin: 0 5px;*/
            padding-left: 10px;
            color: #c9c9c9;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.25em;
            display: block;
            width: 220px;
            height: 40px;
        }

            .login-info > a, .login-info > a:visited {
                text-align: left;
                height: 25px;
                line-height: 25px;
            }

    .login-info .fa {
        height: 25px;
        line-height: 25px;
    }

    .login-info .nav-icon {
        margin: 0 2px;
    }

    /*@media all and (min-width:600px)*/
    .main-nav .fa {
        height: 20px;
        width: 20px;
        line-height: 20px;
        float: left;
        margin: 12px 0 0 0;
    }

    .main-nav .nav-icon {
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 0 2em;
    }

    .nav-text, .nav-icon {
        display: inline-block;
        /*float: left;*/
        text-align: left;
    }

    .nav-text {
        width: calc(100% - 40px);
        padding-left: 10px;
        overflow: hidden;
    }

    .view-title {
        width: calc(100% - 220px);
    }
}

@media (min-width:960px) {

    .expand-menu .left-panel {
        width: 220px;
    }

    .expand-menu .main-content {
        left: 220px;
    }

    .main-content {
        left: 0;
    }

    .expanded-action-panel .main-content,
    .expanded-menu.expanded-action-panel .main-content {
        left: 220px;
    }


    .site-header .icon-profile_alt,
    .site-header .user-name {
        display: inline-block;
        line-height: 70px;
    }
}


@media (min-width:1180px) {

    .nav-icon {
        display: inline-block;
    }
}
