<script id="about"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-about"
		  spa-layout="ninja-poker-layout"
		  spa-route="about"
            type="text/spa-view">

	<section class="spa-view-about">
        <h1>About</h1>
    </section>
</script>