<template id="about"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-about"
		  spa-layout="ninja-poker-layout"
		  spa-route="about">

	<section class="spa-view-about"></section>
</template>