<script id="account"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-account"
		  spa-layout="ninja-poker-layout"
		  spa-route="account"
            type="text/spa-view">

	<section class="spa-view-account">
        <h1>Account</h1>
    </section>
</script>