<script id="bmi-calculator"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-bmi-calculator"
		  spa-layout="ninja-poker-layout"
		  spa-route="bmi/calculator"
            type="text/spa-view">

	<section class="spa-view-bmi-calculator"></section>
</script>