<template id="bmi-calculator"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-bmi-calculator"
		  spa-layout="ninja-poker-layout"
		  spa-route="bmi&#x2F;calculator">

	<section class="spa-view-bmi-calculator"></section>
</template>