<template id="bmr-calculator"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-bmr-calculator"
		  spa-layout="ninja-poker-layout"
		  spa-route="bmR&#x2F;calculator">

	<section class="spa-view-bmr-calculator"></section>
</template>