<template id="exercise"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-exercise"
		  spa-layout="ninja-poker-layout"
		  spa-route="exercise&#x2F;:name">

	<section class="spa-view-exercise"></section>
</template>