<script id="exercise"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-exercise"
		  spa-layout="ninja-poker-layout"
		  spa-route="exercise/name"
            type="text/spa-view">

	<section class="spa-view-exercise"></section>
</script>