<script id="forgotemail"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-forgot-email"
		  spa-layout="ninja-poker-layout"
		  spa-route="forgot/email"
            type="text/spa-view">

	<section class="spa-view-forgot-email"></section>
</script>