<script id="home"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-home"
		  spa-layout="ninja-poker-layout"
		  spa-route=""
            type="text/spa-view">

	<section class="spa-view-home">
        <h1>Home</h1>
    </section>
</script>