<script id="login"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-login"
		  spa-layout="ninja-poker-layout"
		  spa-route="login"
            type="text/spa-view">

	<section class="spa-view-login">
        <h1>Login</h1>
    </section>
</script>