<script id="NotFound"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-404"
		  spa-layout="ninja-poker-layout"
		  spa-route="404"
            type="text/spa-view">

	<section class="spa-view-404">
        <h1>Not Found</h1>
    </section>
</script>