<template id="social"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-social"
		  spa-layout="ninja-poker-layout"
		  spa-route="forgot&#x2F;social">

	<section class="spa-view-social"></section>
</template>