<script id="workout-setup"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-workout-setup"
		  spa-layout="ninja-poker-layout"
		  spa-route="workout/setup"
            type="text/spa-view">

	<section class="spa-view-workout-setup"></section>
</script>