<template id="workout-setup"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-workout-setup"
		  spa-layout="ninja-poker-layout"
		  spa-route="workout&#x2F;setup">

	<section class="spa-view-workout-setup"></section>
</template>