<script id="workoutList"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-workout-list"
		  spa-layout="ninja-poker-layout"
		  spa-route="workout/list"
            type="text/spa-view">

	<section class="spa-view-workout-list">
        <h1>workout list</h1>
    </section>
</script>